*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(120deg, #cca2a6, #ff6578);
}
.score_board {
	padding: 1rem;
	margin-bottom: 1rem;
	min-width: 480px;;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	background: linear-gradient(120deg, #ff6578, #cca2a6);
	color: #fff;
	border-radius: 3%;
}
.grid {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 60px;
  height: 60px;
}
